package views

import (
"geneticalgo/simulation"
"fmt"
)

templ SimulationPage(params simulation.SimulationParameters) {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Genetic Fish Simulation</title>
        <link type="css" rel="stylesheet" href="/static/css/styles.css" />
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div id="simulation-timer" style="font-size: 1.2em; font-weight: bold; text-align: center; margin-bottom: 10px;">Elapsed Time: 00:00:00</div>
      <div id="simulation-container" style="width: 100%;">
          <canvas id="fishtank"></canvas>
      </div>
        <div id="controls-container">
            <h1>Genetic Fish Simulation</h1>
            @SimulationContent(params)
        </div>
        <script src="/static/js/fish.js"></script>
        <script src="/static/js/genetic-algorithm.js"></script>
        <script src="/static/js/environment-parameters.js"></script>
        <script src="/static/js/simulation-stats.js"></script>
        <script src="/static/js/genetic-fish-simulation.js"></script>
        <script src="/static/js/ui-controller.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
    </html>
}

templ SimulationContent(params simulation.SimulationParameters) {
    <form id="simulation-form">
        <label for="populationSize">Initial Population Size:</label>
        <input type="number" id="populationSize" name="populationSize" value={fmt.Sprint(params.PopulationSize)} min="1" max="100" /><br />

        <label for="mutationRate">Mutation Rate:</label>
        <input type="number" id="mutationRate" name="mutationRate" step="0.01" value={fmt.Sprintf("%.2f", params.MutationRate)} min="0" max="1" /><br />

        <label for="crossoverRate">Crossover Rate:</label>
        <input type="number" id="crossoverRate" name="crossoverRate" step="0.01" value={fmt.Sprintf("%.2f", params.CrossoverRate)} min="0" max="1" /><br />

        <label for="foodAvailability">Food Generation Rate (items/second):</label>
        <input type="number" id="foodAvailability" name="foodAvailability" step="0.1" value={fmt.Sprintf("%.1f", params.FoodAvailability)} min="0.1" max="10" /><br />

        <label for="waterTemperature">Water Temperature (°C):</label>
        <input type="number" id="waterTemperature" name="waterTemperature" step="0.1" value={fmt.Sprintf("%.1f", params.WaterTemperature)} min="0" max="40" /><br />

        <button type="button" id="start-simulation">Start Simulation</button>
    </form>
    <div id="simulation-controls">
        <label for="simulation-speed">Simulation Speed: <span id="speed-display">1.0x</span></label>
        <input type="range" id="simulation-speed" min="0" max="5" step="0.1" value="1">
    </div>
    <div id="stats"></div>
    <div class="row">
        <div class="col-sm-6 col-l-3">
            <p>Size</p>
            <div class="chart-container" style="position: relative; height:200px; width:100%">
                <canvas id="sizeChart"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-l-3">
            <p>Speed</p>
            <div class="chart-container" style="position: relative; height:200px; width:100%">
                <canvas id="speedChart"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-l-3">
            <p>Energy</p>
            <div class="chart-container" style="position: relative; height:200px; width:100%">
                <canvas id="energyChart"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-l-3">
            <p>Metabolism</p>
            <div class="chart-container" style="position: relative; height:200px; width:100%">
                <canvas id="metabolismChart"></canvas>
            </div>
        </div>
    </div>
}

